In [1]:
pip install tweepy

Requirement already satisfied: tweepy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (4.12.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from tweepy) (3.2.2)
Requirement already satisfied: requests<3,>=2.27.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from tweepy) (2.28.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from tweepy) (1.3.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests<3,>=2.27.0->tweepy) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests<3,>=2.27.0->tweepy) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests<3,>=2.27.0->tweepy) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests<3,>=2.27.0->tweepy) (2022.9.24)
Note: you may need to restart the kernel to use updated packages.

Notes 

tweet_mode='extended' gets the untruncated text of the Tweet

In [2]:
import configparser
import tweepy
import pandas as pd

# Connect to the config file
config = configparser.ConfigParser()
config.read('config.ini')

# Read in my API tokens and secrets
api_key = config['twitter']['api_key']
api_key_secret = config['twitter']['api_key_secret']
access_token = config['twitter']['access_token']
access_token_secret = config['twitter']['access_token_secret']

In [3]:
# Authentication steps 
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [4]:
# Get 200 tweets every time and add it onto the list (200 max tweets per request). Keep looping until there's no more to fetch.


# screen_name = 'BarackObama'
# tweets = []
# fetchedTweets = api.user_timeline(screen_name = username, count = 200)
# tweets.extend(fetchedTweets)
# lastTweetInList = tweets[-1].id - 1

# while (len(fetchedTweets) > 0):
#         fetchedTweets = api.user_timeline(screen_name = username, count = 200, max_id = lastTweetInList)
#         tweets.extend(fetchedTweets)
#         lastTweetInList = tweets[-1].id - 1
#         print(f"Catched {len(tweets)} tweets so far.")

In [5]:
# tweets

In [6]:
# columns = ['TweetId', 'Date','User', 'Tweet', 'Likes' , 'Retweets']
# data = []

# for tweet in tweets:
#     data.append([tweet.id, tweet.created_at, tweet.user.screen_name, tweet.text, tweet.favorite_count, tweet.retweet_count])

# df = pd.DataFrame(data, columns=columns)

# print(df)

In [7]:
# get the list of people from the csv
import csv
file = open("twitter_handles.csv", "r")
data = list(csv.reader(file, delimiter=","))
file.close()

In [8]:
flat_list = [item for sublist in data for item in sublist]
flat_list.pop(0)
flat_list
screen_name_list = flat_list
part_1 = screen_name_list[:50]
part_1

# skipping index 50 because its paulocoelho and his tweets are in spanish
part_2 = screen_name_list[51:]
part_2

['goodreads',
 'sparknotes',
 'bg_bookclub',
 'margaretatwood',
 'lrb',
 'stephenking',
 'rampcapitalLLC',
 'lord_voldemort7',
 'stevemartintogo',
 'alyankovic',
 'conanobrien',
 'stephenathome',
 'thetweetofgod',
 'bronxZooscobra',
 'yourawaymessage',
 'theonion',
 'foxnews',
 'oann',
 'forbes',
 'bbcworld',
 'realdonaldtrump',
 'feministtswift',
 'potus',
 'vp',
 'gopleader',
 'govrondesantis',
 'aoc',
 'antonioguterres',
 'kenjennings',
 'brainpicker',
 'mental_floss']

In [9]:
# screen_name_list = ['BarackObama']
data = []

def get_tweets(name):
    username = name
    tweets = []
    fetchedTweets = api.user_timeline(screen_name = username, count = 200, include_rts = False, tweet_mode='extended')
    tweets.extend(fetchedTweets)
    lastTweetInList = tweets[-1].id - 1

    while (len(fetchedTweets) > 0):
        fetchedTweets = api.user_timeline(screen_name = username, count = 200, include_rts = False, tweet_mode='extended', max_id = lastTweetInList)
        tweets.extend(fetchedTweets)
        lastTweetInList = tweets[-1].id - 1    
    for tweet in tweets:
        data.append([tweet.id, tweet.created_at, tweet.user.screen_name, tweet.full_text, tweet.favorite_count, tweet.retweet_count])
    return(data)

In [10]:
for name in part_1:
    get_tweets(name)

In [11]:
columns = ['TweetId', 'Date','User', 'Tweet', 'Likes' , 'Retweets']
df = pd.DataFrame(data, columns=columns)
print(df)

                    TweetId                      Date          User  \
0       1600907621279596544 2022-12-08 17:38:14+00:00   BarackObama
1       1600907620113682435 2022-12-08 17:38:14+00:00   BarackObama
2       1600907618859376641 2022-12-08 17:38:14+00:00   BarackObama
3       1600870440591036416 2022-12-08 15:10:30+00:00   BarackObama
4       1600364778626568193 2022-12-07 05:41:11+00:00   BarackObama
...                     ...                       ...           ...
132782  1539313893553516545 2022-06-21 18:26:45+00:00  TheBookMaven
132783  1539266905407639556 2022-06-21 15:20:03+00:00  TheBookMaven
132784  1539266745332113409 2022-06-21 15:19:24+00:00  TheBookMaven
132785  1539263389133848583 2022-06-21 15:06:04+00:00  TheBookMaven
132786  1539258697767084032 2022-06-21 14:47:26+00:00  TheBookMaven

                                                    Tweet  Likes  Retweets
0       Itâ€™s a landmark moment in the fight for equali...   7768       768
1       By mandating the federal recognition of same-s...   9794      1172
2       In 2015, when the Supreme Court recognized the...  30029      3675
3       Grateful for the long-overdue release of Britt...  51297      5691
4       Once again, Georgians have proven that when it...  91266      9060
...                                                   ...    ...       ...
132782                      @FreeJavelins O frabjous day!      1         0
132783  @BillyLandes Thank YOU but I hope I never know...      1         0
132784                         @Danchaon @mdbell79 HAHAHA      1         0
132785  @mdbell79 @Danchaon I cringe at "yummy" AND "t...      4         0
132786  @KaminskiTheresa You honor me with your RT, T. Xx      2         0

[132787 rows x 6 columns]

In [12]:
# was able to pass a filter through function to remove retweets 

# drops rows with no likes or retweets because those signal they retweeted someone elses post or it was just a response with no significance
# df = df[df.Likes != 0]
# df = df[df.Retweets != 0]
# df = df.reset_index(drop = True)

In [14]:
for name in part_2:
    get_tweets(name)

In [15]:
columns = ['TweetId', 'Date','User', 'Tweet', 'Likes' , 'Retweets']
df2 = pd.DataFrame(data, columns=columns)

# df2 = df2[df2.Likes != 0]
# df2 = df[df2.Retweets != 0]
# df2 = df2.reset_index(drop = True)
df2

,TweetId,Date,User,Tweet,Likes,Retweets
0,1600907621279596544,2022-12-08 17:38:14+00:00,BarackObama,Itâ€™s a landmark moment in the fight for equali...,7768,768
1,1600907620113682435,2022-12-08 17:38:14+00:00,BarackObama,By mandating the federal recognition of same-s...,9794,1172
2,1600907618859376641,2022-12-08 17:38:14+00:00,BarackObama,"In 2015, when the Supreme Court recognized the...",30029,3675
3,1600870440591036416,2022-12-08 15:10:30+00:00,BarackObama,Grateful for the long-overdue release of Britt...,51297,5691
4,1600364778626568193,2022-12-07 05:41:11+00:00,BarackObama,"Once again, Georgians have proven that when it...",91266,9060
...,...,...,...,...,...,...
214501,1563536202241675268,2022-08-27 14:37:34+00:00,mental_floss,The K dates back to the earliest days of Ameri...,9,3
214502,1563530680398520321,2022-08-27 14:15:37+00:00,mental_floss,All you need is an onion and a grilling fork.\...,18,1
214503,1563524714127327232,2022-08-27 13:51:55+00:00,mental_floss,Is being an I.N.F.J. a load of C.R.A.P.? That ...,16,6
214504,1563519429132324874,2022-08-27 13:30:55+00:00,mental_floss,"No matter what youâ€™re a fan ofâ€”math, music, St...",18,2
214505,1563514277574520832,2022-08-27 13:10:27+00:00,mental_floss,"Even on days dotted with cloudy skies, up to 8...",8,4

In [16]:
# won't need because already removed retweets 

# df2 = df2[df2.Likes != 0]
# df2 = df2[df2.Retweets != 0]
# df2 = df2.reset_index(drop = True)
# df2

In [17]:
# df2.to_csv("tweets.csv")

In [18]:
df2.to_csv("tweets.csv")